.education {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.edu-date {
  color: var(--green);
}
.edu-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 800;
}
.edu-institution {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--lightest-slate);
  font-weight: 300;
}
