.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-title {
  color: var(--white);
  font-family: var(--font-main);
  font-size: 2.25rem;
  font-weight: 700;
}

.hero-title__sub {
  color: var(--neutral-2);
  font-family: var(--font-main);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.hero-bio {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--neutral-2);
}

.hero-bio-line__1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.hero-role-animate {
  position: relative;
  display: inline-block;
  min-width: 20ch;
  min-height: 18px;
  overflow: hidden;
  font-weight: bold;
  top: -1px;
}

.hero-role-animate span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  animation: role-cycle 12s infinite;
  opacity: 0;
  transform: translateY(20px);
  color: var(--contrast);
}

.hero-role-animate span:nth-child(1) {
  animation-delay: 0s;
}

.hero-role-animate span:nth-child(2) {
  animation-delay: 3s;
}

.hero-role-animate span:nth-child(3) {
  animation-delay: 6s;
}
.hero-role-animate span:nth-child(4) {
  animation-delay: 9s;
}
@keyframes role-cycle {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  8%,
  25% {
    transform: translateY(0);
    opacity: 1;
  }

  33%,
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* medium screen size */
@media (min-width: 768px) {
  .hero-title {
    font-size: 5.5rem;
  }
  .hero-title__sub {
    font-size: 3.8rem;
  }
}
