@import '../styles/animations.css';
@import '../styles/variables.css';
@import '../styles/typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
section {
  /* scroll-margin-top: 80px;  */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-dark);
  border: 1px solid var(--border-mid);
}
::-webkit-scrollbar-thumb {
  background-color: var(--neon-purple);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--neon-green);
}
