.navbar {
  padding: 6px 10px;

  position: sticky;
  top: 0;
  background: rgba(10, 25, 47, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 2px 1px 10px var(--dark-navy);
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.3s ease;
}

.navbar-items {
  display: none;
  flex-direction: column;
  background: rgba(17, 34, 64, 0.8);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  min-height: 100vh;
  padding: 60px 20px 20px 20px;
  z-index: 200;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.6);
}
.navbar-items.show {
  display: flex;
}

.navbar-title {
  white-space: nowrap;
}

.navbar-item {
  padding: 12px 8px;
  text-align: center;
  border-bottom: 1px solid var(--green);
  transition: color 0.3s ease;
}
.navbar-item:last-child {
  border-bottom: none;
}
.hamburger {
  display: block;
  align-items: center;
  background: none;
  border: none;
  color: var(--light-slate);
  cursor: pointer;
  z-index: 210;
}

@media (min-width: 768px) {
  .navbar-items {
    display: flex;
    flex-direction: row;
    gap:12px;
    position: static;
    background: transparent;
    width: auto;
    min-height: auto;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none;
  }
  .navbar-item {
    padding: 8px 6px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  .navbar-item:hover {
    border-bottom: 1px solid var(--green);
  }
  .hamburger {
    display: none;
  }
}
