.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 12px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.label-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 1.1rem;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}
.input-error-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input {
  background-color: var(--primary-2);
  outline: none;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  min-width: 500px;
  color: var(--neutral-3);
  caret-color: var(--neutral-2);
}
.error-message {
  color: rgb(255, 28, 28);
  font-size: 0.7rem;
  font-weight: 400;
}
.input-err {
  border: 0.5px solid rgb(255, 28, 28);
}
.required {
  color: rgb(255, 28, 28);
  font-size: 0.7rem;
  vertical-align: super;
  margin-left: 2px;
}
.textarea {
  min-width: 500px;
  max-width: 400px;
  min-height: 30px;
  max-height: 300px;
  color: var(--neutral-3);
  caret-color: var(--neutral-2);
  background-color: var(--primary-2);
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px 16px;
}
.contact-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.submit-btn {
  background-color: var(--primary-2);
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  color: var(--neutral-2);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}
.submit-btn:hover {
  color: var(--neutral-3);
  transform: scale(1.06);
}

@media (max-width: 768px) {
  .input {
    min-width: 300px;
    max-width: 300px;
  }
  .textarea {
    min-width: 300px;
    max-width: 300px;
  }
}
