.portfolio-content {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* General */
.disabled {
  cursor: not-allowed;
}
.base-green-text {
  color: var(--contrast);
  font-size: 0.85rem;
}

.heading {
  display: flex;
  justify-content: center;
}
.heading-text {
  border-bottom: 1px solid var(--contrast);

  display: flex;
  align-items: center;
  gap: 8px;
}
.heading-number {
  color: var(--contrast);
  font-weight: 500;
  font-size: 25px;
}
.heading-title {
  color: var(--white);
  font-weight: 600;
  font-size: 28px;
}
.timeline {
  margin: 0 auto;
  position: relative;
}
.timeline::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--contrast);
  border-radius: 2px;
}
.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 60px;
}
.timeline-item::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 18px;
  width: 18px;
  height: 18px;
  background-color: var(--contrast);
  border-radius: 50%;
  border: 2px solid var(--neutral-2);
  z-index: 1;
}
.timeline-card {
  background: var(--primary-4);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--border-primary);
  box-shadow: 0 2px 40px var(--border-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tag {
  padding: 6px 10px;
  background-color: var(--surface-color);
  border: 1px solid var(--border-primary);
  border-radius: 20px;
  font-size: 0.8rem;
  color: var(--contrast);
  transition: all 0.3s ease;
  cursor: pointer;
}
.tag:hover {
  background: var(--contrast);
  color: var(--primary-1);
  font-weight: 600;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .portfolio-content {
    padding: 0px 80px;
  }
  .timeline-item::before {
    left: 3px;
    top: 25px;
    width: 24px;
    height: 24px;
  }
}
