* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-1);
  color: var(--neutral-1);
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h6 {
  color: var(--neutral-3);
  font-family: var(--font-main);
}

a {
  color: var(--neutral-2);
  font-family: var(--font-base);
  font-size: 16px;
  text-decoration: none;
}

span {
  color: var(--neutral-2);
  font-family: var(--font-base);
  font-size: 16px;
}
